@import "compass/css3";
@import "compass";

#articleNavigation {
  background: #ebebeb;
  height: 100%;
  left: -270px;
  padding: 40px 0 60px;
  position: fixed;
  top: 40px;
  transition: left .5s;
  width: 270px;
  -webkit-box-shadow: inset -5px 0px 33px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset -5px 0px 33px -10px rgba(0,0,0,0.75);
  box-shadow: inset -5px 0px 33px -10px rgba(0,0,0,0.75);

  a.topicsButton {
    display: none;
  }

  ul#articleMainNav {
    list-style: none;
    padding: 0 10px;

    > li {
      display: block;
      position: relative;

      &.separator {
        border-top: 1px solid #ddd;
        margin: 8px;
      }

      > a {
        color: #666;
        display: block;
        font-family: $roboto-med, sans-serif;
        font-size: 14px;
        line-height: 18px;
        padding: 10px 21px 10px 14px;
        position: relative;
        text-decoration: none;
        text-transform: uppercase;

        i {
          display: block;
          float: right;
          font-size: 10px;
          position: absolute;
          right: 13px;
          top: 14px;
        }

        &:hover {
          i {
            color: $color1;
          }
        }
      }

      ul {
        display: none;
      }
    }
  }

  ul#articleResourcesNav {
    padding: 10px 10px 0;

    > li:first-child {
      color: #666;
      display: block;
      font-family: $roboto-med, sans-serif;
      font-size: 14px;
      padding: 0 14px;
      text-transform: uppercase;

      > i {
        display: none;
      }
    }

    > li > a {
      color: #666;
      display: block;
      padding: 10px 14px;
      text-decoration: none;

      &:hover {
        &:after {
          color: $color1;
        }
      }
    }

    > li > ul {
      padding: 10px 0 0;
      > li {
        display: block;
      }
      > li > a {
        color: #666;
        display: block;
        font-family: $roboto-med, sans-serif;
        padding: 8px 0 8px 15px;
        text-transform: none;

        &:hover {
          i {
            color: $color1;
          }
        }

        i {
          display: block;
          float: right;
          font-size: 10px;
        }
      }
    }
  }
}

nav#articleSocialNav {
  background: #ebebeb;
  height: 100%;
  right: -270px;
  padding: 40px 0 0;
  position: fixed;
  top: 40px;
  transition: right .5s;
  width: 270px;
  -webkit-box-shadow: inset 5px 0px 33px -10px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 5px 0px 33px -10px rgba(0,0,0,0.75);
  box-shadow: inset 5px 0px 33px -10px rgba(0,0,0,0.75);

  p {
    color: #666;
    display: block;
    font-family: $roboto-med, sans-serif;
    font-size: 14px;
    text-align: center;
  }

  .share-bar-container{
    display: block;
    margin: 20px auto 0;
    overflow: hidden;
    width: 150px;
  }

  ul li {
    display: inline-block;
    float: left;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
    a {
      color: #666;
      font-size: 30px;
    }

    a:hover {
      color: $color1;
    }
  }
}

body.topicsMenuOpen {
  #articleNavigation {
    left: 0;
  }
}

body.socialMenuOpen {
  #articleSocialNav {
    right: 0;
  }
}

@media (min-width: 960px) {
  #articleNavigationContainer {
    position: fixed;
    top: 80px;
    width: 100%;
    z-index: 10;
  }
  #articleNavigation {
    background: $color1;
    height: 40px;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    transition: none;
    width: 100%;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    #articleNavigationCompress {
      height: auto;
      margin: 0 auto;
      max-width: inherit;
      position: relative;
      width: 928px;
    }

    ul#articleMainNav {
      float: left;
      height: 40px;
      padding: 0;
      > li {
        display: inline-block;
        float: left;

        > a {
          color: #fff;
          line-height: 40px;
          padding: 0 14px;
          text-transform: uppercase;

          &.active {
            background: #ebebeb;
            color: #000;
          }

          i {
            display: none;
          }
        }

        &.separator {
          display: none;
        }

        &:hover {
          background: #ebebeb;

          a {
            color: #000;
          }

          ul {
            display: block;
          }
        }
        ul {
          background: #c9c9c9;
          border-radius: 0px 0px 5px 5px;
          -moz-border-radius: 0px 0px 5px 5px;
          -webkit-border-radius: 0px 0px 5px 5px;
          display: none;
          padding-bottom: 5px;
          position: absolute;
          width: 300px;
          > li {
            > a {
              border-left: 3px solid #c9c9c9;
              color: #000;
              display: block;
              font-family: $roboto-med;
              font-size: 12px;
              font-weight: 400;
              padding: 10px 14px;
              text-decoration: none;

              &:hover {
                background: #d7d7d7;
                border-left: 3px solid $color1;
              }

              i {
                color: $color1;
                margin-left: 10px;
                position: relative;
                top: 1px;
              }
            }

            &:nth-child(4) {
              > a {
                font-size: 14px;
                font-weight: 700;

                &:hover {
                  background: inherit;
                  border-left: 3px solid #c9c9c9;
                }
              }
            }
          }
        }
      }
    }

    ul#articleResourcesNav {
      float: right;
      padding: 0;
      > li, > li:first-child {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        padding: 0;
        text-align: center;
        text-transform: uppercase;
        width: 110px;

        i {
          color: #fff;
          display: inline-block;
          font-size: 12px;
          margin-left: 6px;
          -ms-transform: rotate(90deg); /* IE 9 */
          -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
          transform: rotate(90deg);
        }

        &:hover {
          background: #ebebeb;
          color: #000;

          i {
            color: #000;
          }

          ul {
            display: block;
          }
        }

        ul {
          background: #c9c9c9;
          border-radius: 0px 0px 5px 5px;
          -moz-border-radius: 0px 0px 5px 5px;
          -webkit-border-radius: 0px 0px 5px 5px;
          display: none;
          float: none;
          height: auto;
          padding: 0 0 5px;
          position: absolute;
          // right: 0;
          width: 110px;

          > li > a {
            border-left: 3px solid #c9c9c9;
            color: #000;
            padding: 0 0 0 10px;
            text-align: left;
            text-transform: none;

            i {
              display: none;
            }

            &:hover {
              border-left: 3px solid $color1;
              background: #d7d7d7;
            }
          }
        }
      }

      &.showReourcesNav {
        > li, > li:first-child {
          background: #ebebeb;
          color: #000;
          i {
            color: #000;
          }
          ul {
            display: block;
          }
        }
      }
    }

    &.collapseMain {
      .topicsButton {
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-family: $roboto-med;
        height: 40px;
        line-height: 40px;
        padding: 0 10px;
        text-transform: uppercase;

        i {
          color: #fff;
          float: left;
          font-size: 40px;
        }

        &:hover {
          background: #ebebeb;
          color: #000;

          i {
            color: #000;
          }
        }
      }
      ul#articleMainNav {
        background: #d7d7d7;
        display: none;
        float: none;
        height: auto;
        position: absolute;
        width: 300px;

        > li {
          display: block;
          float: none;

          &.separator {
            display: none;
          }

          &:hover {
            background: none;
          }

          > a, > a.active {
            background: none;
            color: #666;

            i {
              display: block;
              float: right;
              font-size: 10px;
              position: relative;
              top: 15px;
            }

            &.maintainHover {
              i {
                color: $color1;
              }
            }
          }

          ul {
            background: #c9c9c9;
            left: 300px;
            position: absolute;
            top: 0;
            width: 300px;
          }
        }
      }

      &.showMainNav {
        .topicsButton {
          background: #ebebeb;
          color: #000;

          i {
            color: #000;
          }
        }
        ul#articleMainNav {
          display: block;
        }
      }
    }
  }

  nav#articleSocialNav, body.socialMenuOpen #articleSocialNav {
    background: none;
    box-shadow: none;
    display: none;
    height: auto;
    left: inherit;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    right: 70px;
    top: 22px;
    width: 175px;
    z-index: 10;

    p {
      display: none;
    }

    .share-bar-container {
      background: #ebebeb;
      border-radius: 5px;
      float: right;
      height: 40px;
      margin: 0;
      overflow: visible;
      padding: 10px;
      position: relative;
      width: 175px;

      &:after {
        left: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(235, 235, 235, 0);
        border-left-color: #ebebeb;
        border-width: 5px 0 5px 10px;
        margin-top: -5px;
      }

      ul {
        display: block;
        left: 50%;
        margin-left: -65px;
        position: absolute;
      }

      li {
        display: block;
        position: relative;

        a {
          color: #000;
          font-size: 24px;

          &:hover {
            color: $color1;
          }
        }
      }
    }
  }
}

@media (min-width: 1280px) {
  #articleNavigation {
    #articleNavigationCompress {
      padding: 0 20px;
      width: 1168px;
    }
  }
  nav#articleSocialNav {
    max-width: 1180px;
    .share-bar-container {
      margin-right: 40px;
    }
  }
  body.socialMenuOpen #articleSocialNav { right: 50px;}
}
