section#article
  #articleHeading
    #articleHeadingContainer
      #articleTitle
        .breadcrumb
          span
            i.icon-home
          span
            a(href="index.html") Home
          span
            a Cloud
        h1 Why Using Oracle Business Intelligence Cloud Service Can Help Small Business
  #articleAuthor
    #articleAuthorContainer
      ul#articleAuthorDetails
        li#authorName
          span William Johnson
        li#authorEmail 
          a(href='mailto:lol@lol.com') 
            i.icon(data-icon="n")
            span wjohnson@oracle.com
        li#authorTwitter 
          a(href='https://twitter.com/RikerGoogling',target='_blank') 
            i.icon-twitter
            span @wjohn-oracle
  #articleBody
    #articleContainer
      #articleBodyContent
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
          a(href="http://www.techtarget.com", target="_blank").m-exitlink Link 
          | sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        ul
          li 
            strong Lift and shift 
            | is the most economical and requires no application changes. An organization simply decides which environment—public or private—best suits the compute requirements of an application.
          li 
            strong Lift and shift 
            | is the most economical and requires no application changes. An organization simply decides which environment—public or private—best suits the compute requirements of an application.
          li 
            strong Lift and shift 
            | is the most economical and requires no application changes. An organization simply decides which environment—public or private—best suits the compute requirements of an application.            
        ol
          li 
            strong Lift and shift 
            | is the most economical and requires no application changes. An organization simply decides which environment—public or private—best suits the compute requirements of an application.
          li 
            strong Lift and shift 
            | is the most economical and requires no application changes. An organization simply decides which environment—public or private—best suits the compute requirements of an application.
          li 
            strong Lift and shift 
            | is the most economical and requires no application changes. An organization simply decides which environment—public or private—best suits the compute requirements of an application.
        
        #inlinePlayer
          #videoPlayerOuterContainer
            #videoPlayerContainer
              //- Video ID = 4443437023001
              //- playlist IDs
              //-[4236238425001]; // 1 item
              //-[4234547962001]; // 2 items
              //-[4234547944001]; // 3 items
              //-[4287609999001]; // 4 items
              //-[4234547961001]; // 9 items
              //-[4539093745001]; // Just MP4s
              video#video-1.video-js(data-account="1660622130",data-list-id="4234547961001", data-player="SJJxTCbc", data-embed="default", controls="")
          #heroPlaylistContainer
            ol.vjs-playlist
          #heroPlaylistInfoContainer
            p
              span#slider-prev
              span.videoInfo
              span#slider-next
          script(src="javascript/inlinePlayer.js")
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta!
        div(onclick="window.open('http://customarticledemo.ttgtdemo.com/document/1456862330_102', '_blank');").inlineSplash
          h2 Must Read
          p.inlineSplashTitle Sun Earns AV-TEST Innovation Award
          p.inlineSplashDescription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          p.cta Continue Reading
            i.icon-more-arrow
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta!
        blockquote ... these capabilities must be built on a foundation of robust security and integrate seamlessly with core systems.
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta!
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, nisi? Culpa officia laborum repudiandae omnis quibusdam harum laboriosam, quam obcaecati placeat, unde pariatur ipsam magnam mollitia quos eligendi natus soluta!
  #articleRight
    section#additionalDownloads
      h6 Additional Downloads
      ul
        li 
          a(href="onereg.html") 
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
        li 
          a(href="onereg.html") 
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
        li 
          a(href="onereg.html") 
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
        li 
          a(href="onereg.html") 
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
        li 
          a(href="onereg.html") 
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
        li 
          a(href="onereg.html") 
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
      a.moreDownloads(href="resources-downloads.html") More Downloads
        i.icon-more-arrow
