footer
  #footerContainer
    .footerLeft
      p Sponsored by:
      ul.sponsorLogos
        li
          a 
            img(src="images/clientLogo1.png")
        //- li
        //-   a 
        //-     img(src="images/clientLogo2.png")
    .footerRight
      img(src='images/ttgt.png').ttLogo
      ul.footerLinks
        li
          a Privacy Policy
        li
          a Contact
        li 
          p &copy; 2016 TechTarget
