header#articleHeader
  #articleHeaderCompress
    #articleHeadline
      button.hamburger(type="button")
        span.hamburger-box
          span.hamburger-inner
      p
        a(href="index.html").siteTitle Productivity and Collaboration
      a.socialButton.st-color1
        i.icon-share
    #articleSponsorContainer
      ul.oneClient
        li
          a(href="http://www.techtarget.com")
            img(src="images/clientLogo1.png")
      ul.twoClients
        li
          a(href="http://www.techtarget.com")
            img(src="images/clientLogo3.png")
        li
          a(href="http://www.techtarget.com")
            img(src="images/clientLogo2.png")
    nav#articleSocialNav
      p Like what you see? Please share.
      .share-bar-container
        ul.share-bar
          li.share-bar-item.share-bar-item-desktop.socialMedia-facebook(title='Like/Share on Facebook', data-socialsite='facebook')
            a(href='#').st-color1
              i.icon(data-icon='u')
          li.share-bar-item.share-bar-item-desktop.socialMedia-twitter(title='Share on Twitter', data-socialsite='twitter')
            a(href='#').st-color1
              i.icon(data-icon='c')
          li.share-bar-item.share-bar-item-desktop.socialMedia-linkedin(title='Share on LinkedIn', data-socialsite='linkedin')
            a(href='#').st-color1
              i.icon(data-icon='o')
          li.share-bar-item.share-bar-item-desktop.contentTools-email(title='Email a Friend')
            a(href='&').st-color1
              i.icon(data-icon='n')
