section#homepage
  #homepageContainer
    section#hero
      #heroContainer
        .heroPrimary
          //- Primary Article
          a.heroPrimaryTarget
            .heroPrimaryContainer
              h3 Modern Best Practices
              h1 
              time 
              p.heroPrimaryCTA Watch Now
              script.
                featuredHeroVideo('5088993414001');
        .heroSecondary
          p Must Reads:
          a(href="").heroSecondaryItem1
            .productIndicator
              i.icon-download
              p Download Now
            h3 Cloud
            p Sun Availability &amp; Insight for a Hybrid World
          .divider
          a(href="").heroSecondaryItem2
            .productIndicator
              i.icon-article
              p Start Reading
            h3 Modern Best Practices
            p Oracle to Separate Into Two Focused, Industry-Leading Technology Companies
    section#featuredItems
      h2 You Have Hybrid Questions, We Have the Answers
      ul
        li
          a(href="")
            .thumbnail
              img(src="images/article-home-data-center_0001.png")
              i.icon-download
            p Oracle Secures More Than 1 Billion Internet of Things (IoT) Devices
              span.time
            span.cta Download Now
        li.divider
          .divider1
        li
          a#launchModal
            .thumbnail
              img(src="images/featuredItem2.jpg")
              i.icon-play2
            p
              span.time
            span.cta Watch Now
          script.
            singleFeaturedVideo('4814288225001');
        li.divider
          .divider1
        li
          a(href="")
            .thumbnail
              img(src="images/featuredItem3.jpg")
              i.icon-article
            p Sun Earns AV-TEST Innovation Award
              span.time
            span.cta Start Reading
    //- Configuration A
    #additionalDownloads
      h2 Check Out These Addtional Downloads
      ul.additionalDownloads
        li 
          a(href="downloads.html")
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
        li 
          a(href="downloads.html")
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
        li 
          a(href="downloads.html")
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
        li 
          a(href="downloads.html")
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
        li 
          a(href="downloads.html") 
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
        li 
          a(href="downloads.html")
            i.icon-download-arrow
            .additionalDownloadsContent
              span.title Secure Backup Cloud Module for Amazon S3
              span.cta Download Now
    //- Configuration B
    #additionalResources
      #additionalResourcesContainer
        h2 Looking for something specific, find it here
        #latestArticles
          h6 Latest Articles
          ul
            li
              a
                span.title Complete, Open and Integrated Solutions
                span.cta Read Now
            li
              a
                span.title Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
                span.cta Read Now
            li
              a
                span.title Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea dolor.
                span.cta Read Now
          a.viewAll(href="resources-articles.html") View All Articles
            i.icon-more-arrow
        #latestDownloads
          h6 Latest Downloads
          ul
            li
              a(href="onereg.html") 
                i.icon-download-arrow
                .additionalDownloadsContent
                  span.title Secure Backup Cloud Module for Amazon S3
                  span.cta Download Now
            li
              a(href="onereg.html")
                i.icon-download-arrow
                .additionalDownloadsContent
                  span.title TimesTen In-Memory Database
                  span.cta Download Now
            li
              a(href="onereg.html")
                i.icon-download-arrow
                .additionalDownloadsContent
                  span.title Database 11g Enterprise/Standard Editions
                  span.cta Download Now
          a.viewAll(href="resources-downloads.html") View All Downloads
            i.icon-more-arrow
        #latestVideo
          h6 Latest Videos
          a#launchModal
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            time
            cite
          a.viewAll(href="resources-videos.html") View All Videos
            i.icon-more-arrow
          script.
            singleLatestVideo('4810385632001');
