#articleNavigationContainer
  nav#articleNavigation
    #articleNavigationCompress
      a#topicsButton.topicsButton Topics
        i.icon-menu
      ul#articleMainNav
        li(data-submenu-id="submenu-cloud")
          a(href="topic.html").st-color1 Cloud
            i.icon-play
          ul#submenu-cloud
            li
              a(href="article.html") Article 1
            li
              a(href="") Article 2
            li
              a(href="") Article 3
            li
              a(href="") More On This Topic
                i.icon-more-arrow.st-color1
        li(data-submenu-id="submenu-mbp")
          a(href="http://www.cnn.com").st-color1 Modern Best Practices
            i.icon-play
          ul#submenu-mbp
            li
              a(href="") Article 1
            li
              a(href="") Article 2
            li
              a(href="") Article 3
            li
              a(href="") More On This Topic
                i.icon-more-arrow.st-color1
        li(data-submenu-id="submenu-datacenter")
          a(href="http://www.boston.com").st-color1 Data Center
            i.icon-play
          ul#submenu-datacenter
            li
              a(href="") Article 1
            li
              a(href="") Article 2
            li
              a(href="") Article 3
            li
              a(href="") More On This Topic
                i.icon-more-arrow.st-color1
        li(data-submenu-id="submenu-workloads")
          a(href="").st-color1 Workloads
            i.icon-play
          ul#submenu-workloads
            li
              a(href="") Article 1
            li
              a(href="") Article 2
            li
              a(href="") Article 3
            li
              a(href="") More On This Topic
                i.icon-more-arrow.st-color1
        li(data-submenu-id="submenu-sro")
          a(href="").st-color1 Small & Report Office
            i.icon-play
          ul#submenu-sro
            li
              a(href="") Article 1
            li
              a(href="") Article 2
            li
              a(href="") Article 3
            li
              a(href="") More On This Topic
                i.icon-more-arrow.st-color1
        li(data-submenu-id="submenu-nt")
          a(href="").st-color1 New Topic
            i.icon-play
          ul#submenu-nt
            li
              a(href="") Article 1
            li
              a(href="") Article 2
            li
              a(href="") Article 3
            li
              a(href="") More On This Topic
                i.icon-more-arrow.st-color1
        li.separator
      ul#articleResourcesNav
        li Resources
          i.icon-play
          ul
            li
              a(href="resources-articles.html").st-color1 Articles
                i.icon-play
            li
              a(href="resources-downloads.html").st-color1 Downloads
                i.icon-play
            li
              a(href="resources-videos.html").st-color1 Videos
                i.icon-play
