section#videoResources
  #videoResourcesHeading
    #videoResourcesTitle
      .breadcrumb
        span
          i.icon-home
        span
          a Home
        span
          a Resources
      h1 Videos
  #videoResourcesContent
    #playlistContainer.listContainer
      h6 Cloud
      .placeholder
        ul
          li
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            cite
            span
          li
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            cite
            span
          li
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            cite
            span
      script.
        videoResources('#playlistContainer', 4474424079001);
    #playlistContainer2.listContainer
      h6 Modern Best Practices
      .placeholder
        ul
          li
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            cite
            span
          li
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            cite
            span
          li
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            cite
            span
      script.
        videoResources('#playlistContainer2', 4575200921001);
    #playlistContainer3.listContainer
      h6 Something Else
      .placeholder
        ul
          li
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            cite
            span
          li
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            cite
            span
          li
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            cite
            span
      script.
        videoResources('#playlistContainer3', 4644369872001);
    #videoModal
      #videoModalPlayerContainer
        #videoModalPlaylistContainer
          ol.vjs-playlist
        #videoModalPlaylistInfoContainer
          p
            span#slider-prev
            span.videoInfo
            span#slider-next
        a.closeButton &times;
      //- video#videoPlayer.video-js(data-account="1660622130", data-player="2483e45a-7074-4c6a-8470-0e4a53b3bef8", data-embed="default", controls="")
