section#articleResources
  #articleResourcesHeading
    #articleResourcesTitle
      .breadcrumb
        span
          i.icon-home
        span
          a Home
        span
          a Resources
      h1 Articles
  #articleResourcesContent
    #articleListContainer.listContainer
      h6 Cloud
      ul
        li
          a 
            span.title Using Oracle Business Intelligence Cloud Service
            span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            span.continue Continue Reading 
              i.icon-more-arrow
        //- li
        //-   a 
        //-     span.title Oracle Flash Storage System Support and Interoperability
        //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
        //-     span.continue Continue Reading
        //-       i.icon-more-arrow
        //- li
        //-   a 
        //-     span.title Complete, Open and Integrated Solutions
        //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
        //-     span.continue Continue Reading
        //-       i.icon-more-arrow
        //- li
        //-   a 
        //-     span.title Using Oracle Business Intelligence Cloud Service
        //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
        //-     span.continue Continue Reading 
        //-       i.icon-more-arrow
        //- li
        //-   a 
        //-     span.title Oracle Flash Storage System Support and Interoperability
        //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
        //-     span.continue Continue Reading
        //-       i.icon-more-arrow
        //- li
        //-   a 
        //-     span.title Complete, Open and Integrated Solutions
        //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
        //-     span.continue Continue Reading
        //-       i.icon-more-arrow
        //- li
        //-   a 
        //-     span.title Using Oracle Business Intelligence Cloud Service
        //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
        //-     span.continue Continue Reading 
        //-       i.icon-more-arrow
        //- li
        //-   a 
        //-     span.title Oracle Flash Storage System Support and Interoperability
        //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
        //-     span.continue Continue Reading
        //-       i.icon-more-arrow
        //- li
        //-   a 
        //-     span.title Complete, Open and Integrated Solutions
        //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
        //-     span.continue Continue Reading
        //-       i.icon-more-arrow
      a.loadMore Load More
        i.icon-show-more
    #articleListContainer.listContainer
      h6 Modern Best Practices
      ul
        li
          a 
            span.title Using Oracle Business Intelligence Cloud Service
            span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            span.continue Continue Reading 
              i.icon-more-arrow
        li
          a 
            span.title Oracle Flash Storage System Support and Interoperability
            span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            span.continue Continue Reading
              i.icon-more-arrow
        li
          a 
            span.title Complete, Open and Integrated Solutions
            span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            span.continue Continue Reading
              i.icon-more-arrow
        li
          a 
            span.title Using Oracle Business Intelligence Cloud Service
            span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            span.continue Continue Reading 
              i.icon-more-arrow
        li
          a 
            span.title Oracle Flash Storage System Support and Interoperability
            span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            span.continue Continue Reading
              i.icon-more-arrow
        li
          a 
            span.title Complete, Open and Integrated Solutions
            span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            span.continue Continue Reading
              i.icon-more-arrow
        li
          a 
            span.title Using Oracle Business Intelligence Cloud Service
            span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            span.continue Continue Reading 
              i.icon-more-arrow
        li
          a 
            span.title Oracle Flash Storage System Support and Interoperability
            span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            span.continue Continue Reading
              i.icon-more-arrow
        li
          a 
            span.title Complete, Open and Integrated Solutions
            span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            span.continue Continue Reading
              i.icon-more-arrow
      a.loadMore Load More
        i.icon-show-more
