section#resources
  #resourcesContent
    h2 Looking for something specific, find it here.
    ul
      li 
        a(href="resources-articles.html") View All Articles
      li 
        a(href="resources-downloads.html") View All Downloads
      li
        a(href="resources-videos.html") View All Videos
