section#topic
  #topicHeading
    #topicHeadingContainer
      #topicTitle
        .breadcrumb
          span
            i.icon-home
          span
            a(href="index.html") Home
        h1 Cloud
      #topicHeadingContent
        .microsite-summary-image
          .imageWithCredit
            p Shutterstock
            img(src='images/article-topic-data-center_0001.png')
        h1 Cloud
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore autem nisi, voluptatem error odio. Perspiciatis, aperiam, eveniet, molestias iusto vitae officia harum iure illum, reiciendis possimus laudantium ullam voluptate voluptates?
  #topicBody
    #topicBodyContainer
      #topicBodyContent
        .articleListing
          h2 Articles
          ul
            li
              a(href="article.html") 
                span.title.st-color1 Using Oracle Business Intelligence Cloud Service
                span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
                span.continue Continue Reading
                  i.icon-more-arrow.st-color1
            li
              a(href="")
                span.title.st-color1 Oracle Flash Storage System Support and Interoperability
                span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
                span.continue Continue Reading
                  i.icon-more-arrow.st-color1
            li
              a(href="")
                span.title.st-color1 Complete, Open and Integrated Solutions
                span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
                span.continue Continue Reading
                  i.icon-more-arrow.st-color1
            li
              a(href="")
                span.title.st-color1 Using Oracle Business Intelligence Cloud Service
                span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
                span.continue Continue Reading
                  i.icon-more-arrow.st-color1
            //- li
            //-   a(href="")
            //-     span.title Oracle Flash Storage System Support and Interoperability
            //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            //-     span.continue Continue Reading
            //-       i.icon-more-arrow
            //- li
            //-   a(href="")
            //-     span.title Complete, Open and Integrated Solutions
            //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            //-     span.continue Continue Reading
            //-       i.icon-more-arrow
            //- li
            //-   a(href="")
            //-     span.title Using Oracle Business Intelligence Cloud Service
            //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            //-     span.continue Continue Reading
            //-       i.icon-more-arrow
            //- li
            //-   a(href="")
            //-     span.title Oracle Flash Storage System Support and Interoperability
            //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            //-     span.continue Continue Reading
            //-       i.icon-more-arrow
            //- li
            //-   a(href="")
            //-     span.title Complete, Open and Integrated Solutions
            //-     span.description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita esse, dignissimos maiores! 
            //-     span.continue Continue Reading
            //-       i.icon-more-arrow
          a.loadMore Load More
            i.icon-show-more.st-color1
      #topicRight
        #topicVideoComponent
          h6 Featured Videos
          //- single video - 4539093745001
          //- multiple videos - 4763254682001
          a#launchModal(data-list-id="4763254682001")
            picture
              .spinner
                .rect1
                .rect2
                .rect3
                .rect4
                .rect5
            time
            cite
            .moreVideos View More Videos
              i.icon-modal.st-color1
          script.
            var listID = $('a#launchModal').data('list-id');
            getTopicVideos(listID);
        #additionalDownloads
          h6 Additional Downloads
          ul.additionalDownloads
            li 
              a(href="onereg.html").st-color1
                i.icon-download-arrow.st-color1
                .additionalDownloadsContent
                  span.title Secure Backup Cloud Module for Amazon S3
                  span.cta.st-color1 Download Now
            li 
              a(href="onereg.html").st-color1
                i.icon-download-arrow.st-color1
                .additionalDownloadsContent
                  span.title Secure Backup Cloud Module for Amazon S3
                  span.cta.st-color1 Download Now
            li 
              a(href="onereg.html").st-color1
                i.icon-download-arrow.st-color1
                .additionalDownloadsContent
                  span.title Secure Backup Cloud Module for Amazon S3
                  span.cta.st-color1 Download Now
            li 
              a(href="onereg.html").st-color1
                i.icon-download-arrow.st-color1
                .additionalDownloadsContent
                  span.title Secure Backup Cloud Module for Amazon S3
                  span.cta.st-color1 Download Now
            li 
              a(href="onereg.html").st-color1
                i.icon-download-arrow.st-color1
                .additionalDownloadsContent
                  span.title Secure Backup Cloud Module for Amazon S3
                  span.cta.st-color1 Download Now
            li 
              a(href="onereg.html").st-color1
                i.icon-download-arrow.st-color1
                .additionalDownloadsContent
                  span.title Secure Backup Cloud Module for Amazon S3
                  span.cta.st-color1 Download Now
          a.moreDownloads(href="resources-downloads.html") More Downloads
            i.icon-more-arrow.st-color1
